.container{
    height: 2.9375rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.picture{
    width: 30%;
}
.picture img{
    width: 70%;
}
.navigation{
    width: 70%;
    text-align: right;
    font-size: .75rem;
}
.links{
    text-transform: uppercase;
    text-decoration: none;
    color:#ff6060;
    margin-left: 10%;
}
.links:focus{
    text-decoration: underline;
    text-underline-offset: .1rem;
}

@media screen and (min-width: 768px){
    .container{
        height: 4.25rem;
    }
    .navigation{
        font-size: 1.5rem;
    }
    .links{
        text-transform: capitalize;
        margin-left: 5%;
    }
    .links:focus{
        text-underline-offset: .2rem;
    }
}