.container {
    position: relative;
    margin-bottom: 2rem;
}
.menu{
    position:relative;
    z-index: 2;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .625rem;
    font-size: .8125rem;
    height: 1.875rem;
    margin: 0;
    padding: 1.25rem;
    width: 100%;
    background-color: #FF6060;
    color:#FFF;
}
.menu_margin{
    margin: 0 auto; 
}
.detail.menu_margin{
    margin: 0 auto;
}
.detail{
    position:relative;
    top:-0.5rem;
    text-align: justify;
    width: 100%;
    background-color: #F6F6F6;
    margin: 0 auto 2rem;
    padding: 1.5rem 1rem 2rem 1rem;
    border-radius: 0 0 .625rem .625rem;
    font-size: .75rem;
    font-weight: 400;
    color: #FF6060;
}

@media screen and (min-width: 768px) {
    .container {
        position: relative;
        margin-bottom: 2rem;
        min-width: 50%;
    }
    .menu{
        width: 95%;
        font-size: 1.5rem;
        height: 2.9375rem;
    }
    .detail{
        width: 95%;
        min-height: 15.5625rem;
        font-size: 1.5rem;
        padding: 2rem 1rem 1rem 1rem;
        margin-right: 5%;
    }
    .detail.menu_margin{
        min-height: 11.5rem;
    }
}