.container{
    text-align: center;
    color:#FF6060;
    margin-top: 8rem;
}
.logo{
    font-size: 6rem;
    font-weight: 700;
}
.title{
    font-size: 1.125rem;
    margin-bottom: 8rem;
}
.link{
    color:#FF6060;
    font-size: .875rem;
}

@media screen and (min-width: 768px){
    .logo{
        font-size: 18rem;
    }
    .title{
        font-size: 2.25rem;
        margin-bottom: 8rem;
    }
    .link{
        font-size: 1.125rem;
    }
}