.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    background-color: #000;
    height: 13rem;
    color:#FFF;
}
.image{
margin: 0 auto 2rem;
width: 25%;
}
.logo{
    border-radius: 0;
    width: 80%;
    height: 80%;
}
.container p {
    font-size: .75rem;
}

@media screen and (min-width: 768px){
    .container p {
        font-size: 1.5rem;
    }
    .image{
    margin: 0 auto 2rem;
    width: 8%;
    }
    .logo{
        border-radius: 0;
        width: 80%;
        height: 80%;
    }
}