.footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    background-color: #000;
    height: 13rem;
    color:#FFF;
}
.footer_image{
margin: 0 auto 2rem;
width: 25%;
}
.imageFooter{
    border-radius: 0;
    width: 80%;
    height: 80%;
}
.footer p {
    font-size: .75rem;
}

@media screen and (min-width: 376px){
    .footer_image{
    margin: 0 auto 2rem;
    width: 8%;
    }
    .imageFooter{
        border-radius: 0;
        width: 80%;
        height: 80%;
    }
    .footer p {
        font-size: 1.5rem;
    }
}