.homePage_image {
    position:relative;
    height: 6.9375rem;
    margin: 3rem 0 3rem 0;
}
.homePage_image img {
    filter: brightness(0.7);
}
.homePage_title{
    position:relative;
    text-align: left;
    top:-5.5rem;
    font-size: 1.5rem;
    padding-left: 1rem;
    line-height: 1.5rem;
    color:#FFF;
}
.image, picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .625rem;
}
.picture {
    border-radius:.625rem;
}
.homePage_galery {
    display:flex;
    flex-direction: column;
    gap:2rem;
    border-radius: 1.5625rem;
}
.homePage_galery_card{
    position:relative;
    border-radius: .625rem;
}
.homePage_galery_card div{
    height: 15.9375rem;
}
.homePage_galery_card p{
    position:absolute;
    color:#FFF;
    font-size: 1.125rem;
    bottom: 1rem;
    padding-left: 1rem;
}
.homePage_image.aboutPage_image{
    height: 13.9375rem; 
}

@media screen and (min-width: 768px){
    .homePage_galery{
        padding: 3rem 0 3rem 0;
    }
    .homePage_image {
        position:relative;
        height: 13.9375rem;
        margin: 5rem 0 3rem 0;
    }
    .homePage_title p{
        display: inline;
        line-height: 3.5rem;
    }
    .homePage_title{
        text-align: center;
        top:-8.5rem;
        font-size:3rem;
    }
    .picture {
        border-radius:.625rem;
    }
    .homePage_galery {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        border-radius: 1.5625rem;
        background-color: #f6f6f6;
    }
    .homePage_galery_card div{
        height: 21.25rem;
    }
    .homePage_galery_card{
        width: 21.25rem;
        border-radius: .625rem;
    }   
}