.container{
    grid-column: 1/3;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.tags{
    text-align: center;
    padding: .28rem 2rem;
    background-color:#FF6060;
    border-radius: .625rem;
    color:#FFF;
    font-size: .875rem;
}

@media screen and (min-width: 768px){

    .container{
        grid-column: 1;
        grid-row: 2;
        align-items: flex-start;
    }
    .tags{
        font-size: .875rem;
    }
}